@import "variables";
@import "glitches";

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 10px hsl(274, 93%, 63%));
  }
  50% {
    filter: drop-shadow(0 0 20px hsl(274, 93%, 63%));
  }
  100% {
    filter: drop-shadow(0 0 10px hsl(274, 93%, 63%));
  }
}

.title {
  font-size: clamp(2.25rem, -2.75rem + 16vw, 6.25rem);
  font-weight: 800;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 5vw;

  img {
    height: 7em;
    will-change: filter;
    transition: filter 300ms;
    filter: drop-shadow(0 0 10px hsl(274, 93%, 63%));
    animation: pulse 2s infinite;
  }
}

.networks {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 3rem;

  a {
    text-decoration: none;

    img {
      height: 25px;
      filter: invert(1);
    }
  }
}

.description {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
}